

body {
  background: #380063;
  color: #FFF;
  margin: 0;
}

.inicial .row {
  margin: 0;
}

#splash {
  width: 100%;
  height: auto;
  background: linear-gradient(#76278f, #2b1e66);
}

#title1 {
  width: 10em;
  height: auto;
  text-align: center;
  padding-top: 40vh;
  padding-bottom: 1em;
}

.progress {
  margin-bottom: 45vh;
}

.progress-bar-success {
  background-color: #76278f;
}

/* sección inicial */
.back {
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: left;
}
.btn-default {
  background-color: #ff00bf;
  font-weight: bold;
  border-color: #ff00bf;
  color: #FFF;
}

.input-group-addon, .input-group-btn {
  width: 0;
}

/* Sección de Formulario */
#form {
  color: #FFF;
}

.disabled {
  background-color: #999999;
}

/* Estilos de Alerta con código*/
.alert-success {
  color: #380063;
  background-color: #f660d0;
  border-color: #f660d0;
}
